<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hylexus.jt808.database.dao.GPSDao">

	<resultMap id="BaseResultMap" type="cn.hylexus.jt808.database.pojo.GPS">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="car_id" property="carId" jdbcType="INTEGER" />
		<result column="imei" property="imei" jdbcType="VARCHAR" />
		<result column="imei_type" property="imei_type" jdbcType="VARCHAR" />
		<result column="terminal_phone" property="terminal_phone" jdbcType="VARCHAR" />
		<result column="binding_at" property="bindingAt" jdbcType="TIMESTAMP" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="device_type" property="deviceType" jdbcType="VARCHAR" />
		<result column="store_id" property="storeId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Column_List">
		id, car_id, imei, imsi_type, terminal_phone,binding_at, created_at, device_type, store_id, status
	</sql>

	<insert id="save" parameterType="cn.hylexus.jt808.database.pojo.GPS"
		useGeneratedKeys="true" keyProperty="id">
		insert into gps(id, car_id, imei, binding_at, created_at, device_type, store_id)
		values(
			#{id,jdbcType=INTEGER},
			#{carId,jdbcType=INTEGER},
			#{imei,jdbcType=VARCHAR},
			#{bindingAt,jdbcType=TIMESTAMP},
			#{createdAt,jdbcType=TIMESTAMP},
			#{deviceType,jdbcType=VARCHAR},
			#{storeId,jdbcType=INTEGER}
		)
	</insert>

	<select id="findByImei" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Column_List" />
		from gps
		where imei = #{imei,jdbcType=VARCHAR}
	</select>
		<select id="findByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Column_List" />
		from gps
		where terminal_phone = #{phone,jdbcType=VARCHAR}
	</select>
	<select id="findCount" resultType="java.lang.Integer" >
		select count(1) from gps
	</select>
	
	<select id="findByCarId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Column_List" />
		from gps
		where car_id = #{carId,jdbcType=INTEGER}
	</select>
	
	<select id="findByStoreId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Column_List" />
		from gps
		where store_id = #{storeId,jdbcType=INTEGER}
	</select>
	
	<select id="findByCarIds" parameterType="java.util.List" resultMap="BaseResultMap">
		select
		<include refid="Column_List" />
		from gps
		where car_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<update id="updateByCarId" parameterType="java.util.Map">
		update gps
		set imei = #{imei,jdbcType=VARCHAR},
		binding_at = #{bindingAt, jdbcType =TIMESTAMP},
		device_type = #{deviceType, jdbcType=VARCHAR}
		where car_id = #{carId,jdbcType=INTEGER}
	</update>
	
	<update id="updateStatusByImei" parameterType="java.util.Map">
		update gps set status = #{status,jdbcType=INTEGER}
		where imei = #{imei,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteByCarId" parameterType="java.lang.Integer">
		delete from gps where car_id = #{carId,jdbcType=INTEGER}
	</delete>

</mapper>